@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif !important;
}
:root {
  --primary: #f8931f;
  --black: #000000;
  --white: #ffffff;
}
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.signupWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.form-control {
  width: auto;
  min-width: 350px;
  height: 2.5em;
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 1em;
  outline: none;
  border: 3px solid var(--primary) !important;
}

.text-area {
  max-width: 500px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary) !important;
}

.paymentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.btn-primary {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: var(--white) !important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  margin: auto;
  display: flex;
  justify-content: center;
}
.btn-primary:hover {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.nav__login__btns {
  display: flex !important;
  margin-left: auto !important;
}
.btn-secondary {
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}
img {
  image-rendering: pixelated !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.stripe-card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px !important;
  border: 1px solid #afafaf;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.payment__btn {
  width: 39%;
}
#file-input {
  display: none;
}
.file-input-label {
  margin-top: 8px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary) !important;
  cursor: pointer;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}
.login-wrapper,
.signup-wrapper {
  background: url('https://images.unsplash.com/photo-1580828343064-fde4fc206bc6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80')
    no-repeat center center/cover;
  min-width: 100%;
  min-height: 100vh;
}
.prduct-bgwrapper {
  background: url('https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/secured-attachments/messaging_message/attachment/15dda09a9f3e8d3cf1d70ce2ce8a0450-28191951690575547.721719/91907C49-05FA-4E8B-B125-65A93A9D101C.jpeg?__cld_token__=exp=1691504479~hmac=f6ae03b9b5f0b74ab31423c4c62fc302ae4c6cd94accb56384dd1cc2ea7d5830')
    no-repeat center center/cover;
  min-width: 100%;
  min-height: 100vh;
  color: #ffffff;
}
.icon-input {
  position: relative;
}

.icon-input .form-control {
  padding-left: 35px;
}

.icon-input .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: grey;
}
.icon-input .password-icon {
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
  color: grey;
}
@media (max-width: 600px) {
  .login-wrapper,
  .signup-wrapper {
    background-size: cover;
    background-position: center top;
  }
  .icon-input .password-icon {
    right: 15px;
  }
  .payment__btn {
    width: 100%;
  }
  .stripe-card {
    min-width: 270px !important;
    width: 100%;
  }
}

.bg-wrapper {
  background-image: url('https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/secured-attachments/messaging_message/attachment/86c441c20fbf7875f617abfb83ae3b42-28191951690639057.297683/1834B67B-E4F7-4253-925D-2E8717C454CD.jpeg?__cld_token__=exp=1691504199~hmac=b54a4731df05a998bb812b12d7a46387a2abe2a4bc3b756662c6728dd57e7fa4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}

.payment-info {
  background-image: url('https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/secured-attachments/messaging_message/attachment/d793bd9af2e4d0d17fb609b15d1a382e-28191951690575547.930812/104BDA4D-0104-4921-8DD7-49DFED5D107F.jpeg?__cld_token__=exp=1691504479~hmac=f92fe16140c6395804957df0c755578727aba20e7660f8b26498b2cf0a538afe');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}
