@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif !important;
}
:root {
  --primary: #f8931f;
  --black: #000000;
  --white: #ffffff;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.signupWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-control {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary) !important;
}
.text-area {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary) !important;
}
.customerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.paymentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.btn-primary {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: var(--white) !important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}
.btn-primary:hover {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.nav__login__btns {
  display: flex !important;
  margin-left: auto !important;
}
.btn-secondary {
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}
img {
  image-rendering: pixelated !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #afafaf;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.payment__btn {
  width: 39%;
}
@media (max-width: 600px) {
  .form-control {
    width: 100%;
    max-width: 500px;
  }
}
