@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif !important;
}
:root {
  --primary: #f8931f;
  --black: #000000;
  --white: #ffffff;
}
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.signupWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-control {
  min-width: 300px;
  height: 3em;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 1em;
  outline: none;
  border-radius: 27px;
  border: 3px solid var(--primary) !important;
}
.form-control:focus {
  border: 3px solid var(--primary) !important;
  outline: none !important;
}

.text-area {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary) !important;
}

.paymentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.btn-primary {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: var(--white) !important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  margin: auto;
  display: flex;
  justify-content: center;
}
.btn-primary:hover {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.nav__login__btns {
  display: flex !important;
  margin-left: auto !important;
}
.btn-secondary {
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}
img {
  image-rendering: pixelated !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.stripe-card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px !important;
  border: 1px solid #afafaf;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.payment__btn {
  width: 39%;
}
#file-input {
  display: none;
}
.file-input-label {
  margin-top: 8px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary) !important;
  cursor: pointer;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}

.signup-wrapper {
  background: url('./assets/img/signup.png') no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  min-width: 100%;
  min-height: 100vh;
}
.login-wrapper {
  background: url('./assets/img/sun-tornado.svg') no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}
/* .delivery-wrapper {
  background: url('./assets/img/customer.png') no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  min-width: 100%;
  min-height: 100vh;
} */

.payment-info {
  background: url('./assets/img/payment.png') no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  min-width: 100%;
  min-height: 100vh;
}
.icon-input {
  position: relative;
}

.icon-input .form-control {
  padding-left: 45px;
}

.icon-input .icon {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-52%);
  color: grey;
}
.icon-input .password-icon {
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
  color: grey;
}
@media (max-width: 600px) {
  .login-wrapper {
    background-position: 100% 50%;
  }
  .signup-wrapper {
    background-position: 100% 50%;
  }
  .delivery-wrapper {
    background-position: 100% 50%;
  }
  .product-wrapper {
    background-position: 100% 50%;
  }
  .icon-input .password-icon {
    right: 15px;
  }
  .payment__btn {
    width: 100%;
  }
  .stripe-card {
    min-width: 270px !important;
    width: 100%;
  }
}
